<ng-container *ngIf="formInitialized">
  <form [formGroup]="form">
    <ng-container *ngFor="let field of fieldset">
      <app-dynamic-form-field
        [appearance]="appearance"
        [field]="field"
        (submitDatePickerChange)="handleDatePickerChange($event)"
        (submitSelectChange)="handleSelectChange($event)"
        (submitInputChange)="handleInputChange($event)"
      ></app-dynamic-form-field>

      <div [ngxErrors]="field.name">
        <ng-container *ngFor="let error of errors">
          <div [ngxError]="error.name" class="error">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
    </ng-container>

    <button mat-raised-button color="primary">Submit</button>
  </form>
</ng-container>
